<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta http-equiv="refresh" content="0; URL='{{ redirect_url }}'"/>
	
	<meta name="robots" content="noindex">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="elisttm">
	<meta property="og:title" content="{{ og_title }}">
	<meta property="og:description" content="{{ og_desc }}">
	<meta property="og:image" content="{{ a.logo }}">

</head>
	<body style="background-color:#000;color:#fff;font-family:monospace">
		if you were not automatically redirected, click <a href="{{ redirect_url }}">here</a>
	</body>
</html>