@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root{
	--body-color:#111;
  --background:#222;
  --background-alt:#333;
  --text-alt-color:#999;
	--text-color:#fff;
  --font:'Lato', sans-serif;
	--font-head: 'Monospace', monospace;
}

body {
  font-family:var(--font); color:var(--text-color); background-color:var(--body-color); text-align: center;
	padding: 0; margin: 0; cursor: auto; 
	-webkit-font-smoothing: antialiased; 
}

.content {background-color:var(--background); margin: 0% 20vw; padding:1px 1vw 24px 1vw}

@media screen and (max-width: 800px) {
	body {background-color:var(--background);}
}

@media screen and (max-width: 800px) {
	.content {margin: 0; padding: 4px 1vw 12px 1vw}
}

a {color:var(--text-color); text-decoration: underline; transition: 0.5s} 
a:hover {color:var(--text-alt-color); transition: 0.5s;}

h1, h2, h3, h4, h5, h6 {font-family:var(--font-head);}
p {line-height:1.35}

li {padding-bottom: 8px;}

div {margin: auto; cursor: auto;}

button, .btn {background-color:var(--background-alt); color:var(--text-color); margin: 2px 2px; padding: 10px 10px; transition: 0.5s; font-size: 14px; border: none; outline-style: none; text-decoration: none; cursor: pointer;}
button:hover, .btn:hover {background-color:var(--text-color); color:var(--background-alt); margin: 0px 0px; padding: 12px 12px; transition: 0.5s;}

.button h3 {margin:2px;}
.btn-header {font-size: 14px; font-family:var(--font-head); font-weight: bold; margin: 2px;}

st {font-size: 14px; color:var(--text-alt-color);}

.list {text-align: left; margin: 0 12% 0 12%;}

.column {box-sizing: border-box; float: left; width: 50%}
.row:after {box-sizing: border-box; content: ""; display: table; clear: both;}
@media screen and (max-width: 1000px) {.column {width: 100%;}}

/* topnav */
.topnav {background-color:var(--background-alt); padding: 0; margin: auto 20vw 0 20vw; overflow: hidden; font-family:var(--font-head)}
.logo {font-size: 20px; vertical-align: middle; font-weight: bold;}
.logo img {padding:0px; margin-right:8px; vertical-align: middle; width: 48px; height: 48px;}
.topnav .hbtn {padding: 4px 12px; float: left; display: block; text-decoration: none; transition: 0.5s}
.topnav .hbtn:hover, .topnav .hbtn.active {color:var(--background); background-color:var(--text-color); transition: 0.5s}
.topnav .togglebutton {display: none; padding: 18px 35px}
.topnav-right {float: right}
.topnav-right .hbtn {color:var(--text-color); padding: 20px 16px; font-size: 14px}

@media screen and (max-width: 800px) {
	.topnav {margin: 0}
	.topnav-right .hbtn {display: none;}
	.topnav .hbtn.togglebutton {float: right; display: block;}
	.topnav-right {float:none;}
	.topnav.responsive {position: relative;}
	.topnav.responsive .togglebutton {position: absolute; right: 0; top: 0px;}
	.topnav.responsive .hbtn {float: none; display: block; text-align: left;}
}

/* social buttons */
div.sm-icons {margin: 32px 0;}
.sm {background-color:var(--background-alt); margin: 2px; padding: 12px 10px 8px; display: inline; vertical-align: center; transition: 0.5s;}
.sm img {height: 18px; width: 18px;}
.sm-icons a {vertical-align: center; text-decoration: none;}
.sm:hover {padding: 14px 12px 10px; margin: 0; transition: 0.5s; background-color:var(--text-color)}

.sm-twitter:hover {background-color: #00acee;}
.sm-youtube:hover {background-color: #c4302b;}
.sm-twitch:hover {background-color: #6441a5;}
.sm-steam:hover {background-color: #2a475e;}
.sm-github:hover {background-color: #211F1F;}
.sm-discord:hover {background-color: #5865F2;}
.sm-patreon:hover {background-color: #f86752;}

/* art gallery */
.art-gallery {width: 100%}
.piece {padding: 0px 2px 24px; width: 180px; height: 180px; display:inline-block; overflow: hidden; position: relative;}
.piece img {width: auto; height: 90%; max-width: 98%; max-height: 98%; object-fit: contain}

/* minecraft custom recipes */
.recipes {display: none; background-color: var(--body-color); margin-top: 24px; padding: 8px 8px 8px 8px; width: 85%;}
.recipes img {width: 30%; height: auto}