:root{
	--ok-color:#111;
  --bg-color:#222;
  --bg-alt-color:#333;
	--main-color:#fff;
  --link-color:#999;
	--hover-color: #666;

  --main-font:'Franklin Gothic Medium', sans-serif;
	--header-font: monospace, 'Courier New', Courier;
}

body {
  background-color:var(--ok-color); color:var(--main-color); font-family:var(--main-font);
	cursor: auto; text-align: center; -webkit-font-smoothing: antialiased;
	padding: 0; margin: 0; 
}

a {color:var(--main-color); text-decoration: underline; transition: 0.5s} 
a:hover {transition: 0.5s; color:var(--link-color); text-decoration: underline}
p {font-family:var(--main-font);padding-bottom: 1mm;line-height:1.25}
li {font-family:var(--main-font);padding-bottom: 4px}
ul {font-family:var(--main-font);padding-bottom: 4mm;}
ol {font-family:var(--main-font);padding-bottom: 4mm;}
dl {font-family:var(--main-font);padding-bottom: 4mm;}
dd {font-family:var(--main-font);}
dt {font-family:var(--main-font);}
h1, h2, h3, h4, h5, h6 {font-family:var(--header-font);}

div {margin: auto; cursor: auto;}

table {text-align: center; margin-left: auto; margin-right: auto; padding: 5px;}
tr {padding: 2px;} 
td {padding: 5px;}

button {background-color:var(--bg-alt-color); color:var(--main-color); border: none; outline-style: none; cursor: pointer; margin: 4px 2px; padding: 10px 10px; transition: 0.35s;}
button:hover {background-color:var(--main-color); color:var(--bg-alt-color); margin: 2px 2px; padding: 12px 12px; transition: 0.25s;}

.page-block-idk {background-color:var(--bg-color); margin: 0% 16%; padding:4px 16px 16px}

@media screen and (max-width: 800px) {
	.page-block-idk {margin: 0; padding: 4px 2% 8px}
}

.list {text-align: left; padding: 0 10% 0 10%;}
list li {font-family: Monospace; font-size: 14px; line-height: 1.35;}

.footer {background-color:var(--bg-alt-color); color:var(--main-color); text-align: center; position: fixed; padding: 0; left: 0; bottom: 0%; width: 100%; height: 20px;}
.footer p {font-family:var(--header-font); font-size: 6pt;}

st {font-size: 14px; color: #ccc;}

.visible {font-family:var(--main-font); background-color:var(--bg-color); padding: 6mm;}

.topnav {background-color: var(--bg-alt-color); padding: 0; margin: 8px 16% 0; overflow: hidden; font-family:var(--header-font)}
.topnav-logo {font-size: 24px; font-weight: bold}
.topnav img {padding:0px; margin-right:8px; margin-bottom: 2px; vertical-align: middle; width: 50px; height: 50px;}
.topnav a {padding: 4px 10px; float: left; display: block; text-decoration: none;}
.topnav a:hover, .topnav a.active {color:var(--bg-color); background-color:var(--main-color);}
.topnav .togglebutton {display: none; padding: 21px 35px}
.topnav-right {float: right}
.topnav-right a {color:var(--c-text); padding: 22px 14px; font-size: 14px}

@media screen and (max-width: 800px) {
	.topnav {margin: 0}
	.topnav-right a {display: none;}
	.topnav a.togglebutton {float: right; display: block;}
	.topnav-right {float:none;}
	.topnav.responsive {position: relative;}
	.topnav.responsive .togglebutton {position: absolute; right: 0; top: 0px;}
	.topnav.responsive a {float: none; display: block; text-align: left;}
}

.column {box-sizing: border-box; float: left; width: 50%; padding:1%;}
.row:after {box-sizing: border-box; content: ""; display: table; clear: both;}
@media screen and (max-width: 1000px) {.column {width: 100%;}}

.gallery {padding: 1px 8px; width: auto; height: 200px; display:inline-block}
.gallery img {width: auto; height: 75%;}
.desc {padding-top: 1px; text-align: center;}

.sm {background-color:var(--bg-alt-color); margin: 1px; padding: 12px 10px 8px; display: inline; vertical-align: center; transition: .5s; -o-transition: .5s; -ms-transition: .5s; -moz-transition: .5s; -webkit-transition: .5s;}
.sm img{height: 18px; width: 18px;}

.sm-icons-list {width: 100%; display: block;} 
.sm-icons-list ul {padding: 0; list-style: none}

ul.sm-icons {margin: 32px 0;}
.sm-icons li {vertical-align: center; display: inline-block}
.sm-icons a {color:var(--main-color); vertical-align: center; text-decoration: none;}

.sm:hover {padding: 14px 12px 10px; margin: 0; transition: .4s; background-color: #fff}
.sm-twitter:hover {background-color: #00acee;}
.sm-youtube:hover {background-color: #c4302b;}
.sm-twitch:hover {background-color: #6441a5;}
.sm-steam:hover {background-color: #2a475e;}
.sm-github:hover {background-color: #211F1F;}
.sm-discord:hover {background-color: #5865F2;}
.sm-patreon:hover {background-color: #f86752;}

button h3 {margin:2px;}
