{% extends "base.html" %}

{% block page_title %}random cats{% endblock %}
{% block og_title %}random cat page{% endblock %}
{% block og_desc %}my cat image website{% endblock %}

{% block content %}

  <h1>random cat image site</h1>
		<p>a simple site i made that hosts thousands of cat pictures that can be picked randomly<br>i am too lazy to write documentation for this sorry lol</p>
		
		{% if status == 200 %}
			<button onclick="window.open('{{ cat_url }}')"> cat page </button>
		{% else %}
			<button onclick="window.open('{{ cat_url }}')"> cat page </button>
		{% endif %}


{% endblock %}