{% extends "base.html" %}

{% block page_title %}donors{% endblock %}
{% block og_title %}donators{% endblock %}
{% block og_desc %}a list of awesome people who have given me money{% endblock %}

{% block content %}

  <h1>wall of donors</h1>
		<p>here is a list of people who have graciously donated to me via patreon or other services</p>
			
		<button onclick="window.open('{{ a.patreon }}')"> my patreon </button>
		<button onclick="window.open('{{ a.paypal }}')"> my paypal </button>
	
	<br><br><hr width="50%"><br>
	
	<h2>
		{% for donor in donor_list %}
			{{ donor }}<br>
		{% endfor %}
	</h2>

{% endblock %}