{% extends "base.html" %}

{% block page_title %}gmod server{% endblock %}
{% block og_title %}garrys mod server{% endblock %}
{% block og_desc %}eli's pretty cool gmod server{% endblock %}

{% block content %}

  <h1>garrys mod server</h1>
		<p>a private gmod server that i host from time to time</p>
		
		<button onclick="window.open('{{ gm.redirect }}')">   server redirect   </button>

	<br><br><hr width="50%">

  <h2>server rules</h2>
    <div class="list" width="100%"><ul class="list">
			{% for rule in gm.rules %}
				<li>{{ rule }}</li>
			{% endfor %}
		</ul></div>

  <h2>server workshop collections</h2>
    <div class="list" width="100%"><ul class="list">
			{% for collection, url in gm.collections.items() %}
				<li><a href="{{ url }}">{{ collection }}</a></li>
			{% endfor %}
		</ul></div>

{% endblock %}