{% extends "base.html" %}

{% block page_title %}minecraft server{% endblock %}
{% block og_title %}mc.elisttm.space{% endblock %}
{% block og_desc %}a very cool minecraft server{% endblock %}

{% block content %}

  <h1>mc.elisttm.space</h1>
		<p>
			a minecraft vanilla smp server that i host, manage and develop.<br>note that i try to keep my server up as much as possible, however there will be periods where it is down</p>
			<!--iframe style="border:none;height:34px;width:100%" src="minecraft/upcheck" name="minecraft server status" scrolling="no"></iframe-->

		<button onclick="window.open('{{ mc.dynmap }}')"> dynamic map </button>
		<button onclick="window.open('{{ mc.plan }}')"> player stats </button>
		<button onclick="window.location.href=('minecraft/recipes')"> custom recipes </button>

	<div class="row"><div class="column">

		<h2>rules</h2>
			<div class="list" width="100%"><ul class="list">
				{% for rule in mc.rules %}<li>{{ rule }}</li>
			{% endfor %}</ul></div>
		<p><b>refusal to abide by these rules will result in a ban</b></p>

	</div><div class="column">
		<h2>features</h2>
			<div class="list" width="100%"><ul class="list">
				{% for feature in mc.features %}<li>{{ feature }}</li>
			{% endfor %}</ul></div>

	</div></div>

{% endblock %}