{% extends "base.html" %}

{% block title %}mc.elisttm.space{% endblock %}
{% block og_title %}mc.elisttm.space{% endblock %}
{% block og_desc %}my minecraft server{% endblock %}

{% block head %}
	<script>
	function toggleRecipes() {
		var x = document.getElementById("recipes");
		if (x.style.display === "block") {
			x.style.display = "none"
		} else {
			x.style.display = "block"
		}}
	</script>
{% endblock %}

{% block content %}

	<h1>mc.elisttm.space</h1>
		<p>a vanilla smp server that i host and manage<br>
		<iframe src="/minecraft/upcheck" scrolling="no" style="border:0;height:24px;overflow:hidden"/>?</iframe></p><br>
			{% for button in mc.buttons %}
			<a class="btn" href="{{ button[0] }}">{{ button[1] }}</a>{% endfor %}
			<a class="btn" href="javascript:void(0)" onclick="toggleRecipes()">custom recipes</a>
			
			<div class="recipes" id="recipes">{% for recipe in mc.recipes %}
				<img class="recipe_img" src="{{ mc.recipedir }}{{ recipe }}.png" alt="custom {{ recipe }} recipe"/>{% endfor %}
			</div>

	<br><br><div class="row">
		
	<div class="column">
		<h2>rules</h2>
			<div class="list"><ul>{% for rule in mc.rules %}
				<li>{{ rule }}</li>{% endfor %}
			</ul></div></div>

	<div class="column">
		<h2>features</h2>
			<div class="list"><ul>{% for feature in mc.features %}
				<li>{{ feature }}</li>{% endfor %}
			</ul></div></div>
	</div>
{% endblock %}