{% extends "base.html" %}

{% block page_title %}pack{% endblock %}
{% block og_title %}cool resource pack{% endblock %}
{% block og_desc %}a pretty cool minecraft resource pack{% endblock %}

{% block content %}

  <h1>eli's epic gamer pack</h1>
    <p>in short, <b>eli's epic gamer pack</b> is my personal resource pack that updates a lot of textures and sounds 
		<br><st>compatible with versions <b>1.8x</b> and <b>1.14+</b></st>

	<br><br><br>
	
	(updated screenshots coming soon)
			<!--img src="/static/images/pack/2.png" alt="ingame screenshot using the epic gamer pack" width="25%" height="25%" border="2">
  		<img src="/static/images/pack/1.png" alt="default textures" width="25%" height="25%" border="2"-->
    </p>

	<br><hr width="65%"><br>
  
  <h2>current version: {{ mcpk.version }}</h2>
    <p><st>for versions 1.8.x, use only the base pack.<br>for any versions 1.14 and above, use both</st></p>

  <h3>download links:</h3>
    <button onclick="window.open('{{ mcpk.base }}','_blank')"> base pack </button>
    <button onclick="window.open('{{ mcpk.overlay }}','_blank')">1.14+ overlay</button>
  
	<br><br><hr width="65%"><br>

  <h3>features</h3>
	<div class="list" width="75%"><ul>
			{% for feature in mcpk.features %}
				<li>{{ feature }}</li>
			{% endfor %}
  </ul></div>

  <h2>changelog</h2>
   <iframe src="/pack/changelog" style="border:1px;border-color:#333;width:75%;height:300px" name="pack changelog"></iframe>

{% endblock %}