{% extends "base.html" %}

{% block title %}eli pack{% endblock %}
{% block og_title %}eli pack{% endblock %}
{% block og_desc %}my minecraft resource pack{% endblock %}

{% block content %}

  <h1>eli pack</h1>
    <p>my custom resource pack that is a mix of content from other packs as well as stuff i made myself</p>

	<div class="row">
	<div class="column">
		<h2>current version: {{ mcpk.version }}</h2>
		<h3>download links:</h3>
			<a class="btn" href="{{ mcpk.download }}">1.17+</a>
			<a class="btn" href="{{ mcpk.legacydownload }}">1.8.9 (legacy)</a>

		<h3 style="margin-top:20px">notes</h3>
			<div class="list"><ul>
				<li>installation is as simple as extracting the pack for the version you play in your resourcepacks folder</li>
				<li>the legacy pack is not kept as up to date as the most recent version</li>
				<li>if you encounter any bugs/have any suggestions with a pack, feel free to contact me!</li>
			</ul></div>
		</div>

	<div class="column">
		<h2>changelog</h2>
			<iframe src="/pack/changelog" style="border:1px solid #fff;width:100%;height:300px" name="eli pack changelog"></iframe>
	</div></div>
{% endblock %}