{% extends "base.html" %}

{% block title %}trashbot{% endblock %}
{% block og_title %}trashbot{% endblock %}
{% block og_desc %}my cool discord bot{% endblock %}

{% block content %}

	<h1>trashbot</h1>
		<p>trashbot is a multipurpose discord bot developed by me intended for use in small servers</p><br>
		{% for button in tb.buttons %}
		<a class="btn" href="{{ button[0] }}">{{ button[1] }}</a>{% endfor %}
		
	<br><br><div class="row">

	<div class="column">
		<h2>what features does it have?</h2>
			<div class="list"><ul>{% for feature in tb.features %}
				<li>{{ feature }}</li>{% endfor %}
			</ul></div></div>

	<div class="column">
		<h2>planned features</h2>
			<div class="list"><ul>{% for p_feature in tb.planned %}
				<li>{{ p_feature }}</li>{% endfor %}
			</ul></div></div>
	
	</div>
{% endblock %}