{% extends "base.html" %}

{% block page_title %}website{% endblock %}
{% block og_title %}website{% endblock %}
{% block og_desc %}a page for my website (on my website){% endblock %}

{% block content %}

  <h1>elisttm.space</h1>
		<p>elisttm is a hub site for me (elisttm) and my public projects</p>
			
		<button onclick="window.open('{{ site.github }}')">source code</button>
		<button onclick="window.open('/sitemap')">sitemap</button>
	
	<br><br><hr width="50%"><br>

	<h2>yeah</h2>

{% endblock %}